
<div class="container font-monospace">
    <div class="row py-4">
        <div class="col">
            <div class=" text-center">
                <h3>PRODUCTO NRO:{{codigobarras}}</h3>
            </div><br>
            <div class="">
                <h5>Codigo de Barras:</h5>
                <p>{{datos[0].codigo}}</p>
                <input class="form-control disabled" disabled type="text">
            </div><br><br>
            <div class="">
                <h5>Descripciòn:</h5>
                <p>{{datos[0].descripcion}}</p>
                <input class="form-control disabled" disabled type="text">
            </div><br><br>
            <div class="">
                <h5>Precio de Venta:</h5>
                <p>{{datos[0].precioCmp}}</p>
                <input class="form-control disabled" disabled type="text">
            </div><br><br>
            <div class="">
                <h5>Precio de Compra:</h5>
                <p>{{datos[0].precioVnt}}</p>
                <input class="form-control disabled" disabled type="text">
            </div><br><br>
            <div class="">
                <h5>Ganancia:</h5>
                <p>{{datos[0].ganancia}}</p>
                <input class="form-control disabled" disabled type="text">
            </div><br><br>
            <div class="">
                <h5>Cantidad:</h5>
                <p>{{datos[0].cantidad}}</p>
                <input class="form-control disabled" disabled type="text">
            </div><br><br>
        </div>
    </div>
</div>